*.class
*.pyc
*.pyo
*.DS_Store
.pydevproject
.project
.settings
.idea
*/.ropeproject/*
/db
/docs
/scripts
/static
/temp
*/media/upload/
*/media/cache/
*/media/generated/
secret_key.py
/_materials
*/media