{% extends "subsite.html" %}
{% load i18n %}


{# This is the page title #}
{% block title %}sorting{% endblock %}


{# Content of the page #}
{% block inner_markup %}
					<div class="title">Benvenuti su spr-sorting</div>
					<div class="row top-buffer text-center">
						<div class="col-xs-4">
							<p>OFFSET VENTOSE</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<button type="button" class="btn btn-default btn-lg" id="btnDecOffsetX" name="btnDecOffsetX" onclick="decOffsetX();">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</button>
							X
							<button type="button" class="btn btn-default btn-lg" id="btnIncOffsetX" name="btnIncOffsetX" onclick="incOffsetX();">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
						<div class="col-xs-2 text-right">
							<button type="button" class="btn btn-default btn-lg" id="btnDecOffsetY" name="btnDecOffsetY" onclick="decOffsetY();">
								<span class="glyphicon glyphicon-chevron-up"></span>
							</button>
							Y
							<button type="button" class="btn btn-default btn-lg" id="btnIncOffsetY" name="btnIncOffsetY" onclick="incOffsetY();">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</button>
						</div>
					</div>
					<div class="row top-buffer">
						<div class="col-xs-12">
							<p>PRIMA MISSIONE</p>
							<div id="placeholder" style="width:100%;height:300px"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>SECONDA MISSIONE...</p>
						</div>
					</div>
{% endblock %}
{# end of content #}

{% block js %}
{{ block.super }}
		<script type="text/javascript">
			var paper = Raphael("placeholder", "100%", "100%");
			var minOffsetX = 0; var minOffsetY = 0;
			var maxOffsetX = 40; var maxOffsetY = 30
			var offsetX = 20; var offsetY = 15;
			var icons = {{ icons|safe }};
			var circles = new Array();
			function decOffsetX(valore) {
				offsetX = offsetX>minOffsetX ? offsetX-1 : minOffsetX;
				$('#btnDecOffsetX').prop('disabled', offsetX==minOffsetX);
				$('#btnIncOffsetX').prop('disabled', false);
				refresh();
			}
			function incOffsetX(valore) {
				offsetX = offsetX<maxOffsetX ? offsetX+1 : maxOffsetX;
				$('#btnIncOffsetX').prop('disabled', offsetX==maxOffsetX);
				$('#btnDecOffsetX').prop('disabled', false);
				refresh();
			}
			function decOffsetY(valore) {
				offsetY = offsetY>minOffsetY ? offsetY-1 : minOffsetY;
				$('#btnDecOffsetY').prop('disabled', offsetY==minOffsetY);
				$('#btnIncOffsetY').prop('disabled', false);
				refresh();
			}
			function incOffsetY(valore) {
				offsetY = offsetY<maxOffsetY ? offsetY+1 : maxOffsetY;
				$('#btnIncOffsetY').prop('disabled', offsetY==maxOffsetY);
				$('#btnDecOffsetY').prop('disabled', false);
				refresh();
			}
			function drawCircle(posX, posY, offsetX, offsetY) {
				var x = posX+offsetX;
				var y = posY+offsetY;
				var r = 6;
				var circle = paper.circle(x, y, r);
				circle.attr("fill", "#f00");
				circle.attr("stroke", "#fff");
				/* var attr = {
						fill: "#F00",
						stroke: "#666",
						"stroke-width": 1,
						"stroke-linejoin": "round"
				};
				var path = "M"+(x)+","+(y-r)+"A"+r+","+r+",0,1,1,"+(x-0.1)+","+(y-r)+"z";
				paper.path(path).attr(attr); */
				circles.push(circle);
			}
			function drawIcons() {
				var attr = {
						fill: "#333",
						stroke: "#666",
						"stroke-width": 1,
						"stroke-linejoin": "round"
				};
				for (var i=0; i<icons.length; i++) {
					paper.path(icons[i]).attr(attr);
				}
			}
			function checkIntersection() {
				for (var i=0; i<icons.length; i++) {
					for (var j=0; j<circles.length; j++) {
						/* var dotsOfIntersection = Raphael.pathIntersection(icons[i], circles[j]);
						if (dotsOfIntersection.length > 0) {
							paper.path(circles[j]).attr("fill", "#00F");
						} */
						if (Raphael.isPointInsidePath(icons[i], circles[j].attr('cx'), circles[j].attr('cy'))) {
							circles[j].animate({fill:'blue'},200);
						}
					}
				}
			}
			function refresh() {
				paper.clear();
				drawIcons();
				for (var i=0; i<10; i++) {
					for (var j=0; j<8; j++) {
						drawCircle(i*30, j*30, offsetX, offsetY);
					}
				}
				checkIntersection();
			}
			function readyFn( jQuery ) {
				$('body').css('background-color', '#E6E6E6');
				//$.plot($("#placeholder"), [ [[0, 0], [5000, 3500]] ], { yaxis: { max: 4000 } });
				refresh();
			}
			$(document).ready(readyFn);
		</script>
{% endblock %}
