{% extends "subsite.html" %}
{% load i18n %}


{# This is the page title #}
{% block title %}sorting{% endblock %}


{# Content of the page #}
{% block inner_markup %}
					<div class="title">Benvenuti su sorting</div>
					<h5>Contenuti homepage</h5>
					<div class="row">
						<div class="span4">riga 1, colonna1</div>
						<div class="span4">riga 1, colonna2</div>
						<div class="span4">riga 1, colonna3</div>
					</div>
					<div class="row">
						<div class="span12">riga 2</div>
					</div>
					<div class="row">
						<div class="span12">riga 3</div>
					</div>
{% endblock %}
{# end of content #}
