{% extends "subsite.html" %}
{% load i18n %}


{# This is the page title #}
{% block title %}{{ block.super }} - SORTING{% endblock %}


{# Content of the page #}
{% block inner_markup %}
					<div class="title">Benvenuti su spr-sorting</div>
{% endblock %}
{# end of content #}

{% block js %}
{{ block.super }}
		<script type="text/javascript" src="{{ STATIC_URL }}js/cmbRaphael.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}{{ drawSheet }}"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/sorting.js"></script>
		<!-- 
		<script type="text/javascript">
			// var paper = Raphael("placeholder", "100%", "100%");
			var paper = cmbR;
			var minOffsetX = 0; var minOffsetY = 0;
			var maxOffsetX = 400; var maxOffsetY = 300;
			var offsetX = 20; var offsetY = 15;
			// var icons = {{ icons|safe }};
			var icons = new Array();
			var suctionCups = new Array();
			var leftWing = 0; var rightWing = 0;
			function decOffsetX(valore) {
				offsetX = offsetX>minOffsetX ? offsetX-10 : minOffsetX;
				$('#btnDecOffsetX').prop('disabled', offsetX==minOffsetX);
				$('#btnIncOffsetX').prop('disabled', false);
				refreshCircles();
			}
			function incOffsetX(valore) {
				offsetX = offsetX<maxOffsetX ? offsetX+10 : maxOffsetX;
				$('#btnIncOffsetX').prop('disabled', offsetX==maxOffsetX);
				$('#btnDecOffsetX').prop('disabled', false);
				refreshCircles();
			}
			function decOffsetY(valore) {
				offsetY = offsetY>minOffsetY ? offsetY-10 : minOffsetY;
				$('#btnDecOffsetY').prop('disabled', offsetY==minOffsetY);
				$('#btnIncOffsetY').prop('disabled', false);
				refreshCircles();
			}
			function incOffsetY(valore) {
				offsetY = offsetY<maxOffsetY ? offsetY+10 : maxOffsetY;
				$('#btnIncOffsetY').prop('disabled', offsetY==maxOffsetY);
				$('#btnDecOffsetY').prop('disabled', false);
				refreshCircles();
			}
			function drawSuctionCup(posX, posY, radiusX, radiusY) {
				var x = posX + offsetX;
				var y = posY + offsetY;
				var suctionCup = paper.ellipse(x, y, radiusX, radiusY);
				suctionCup.attr("fill", "#909090");
				suctionCup.attr("stroke", "#FFFFFF");
				/* var attr = {
						fill: "#F00",
						stroke: "#666",
						"stroke-width": 1,
						"stroke-linejoin": "round"
				};
				var path = "M"+(x)+","+(y-r)+"A"+r+","+r+",0,1,1,"+(x-0.1)+","+(y-r)+"z";
				paper.path(path).attr(attr); */
				suctionCup.node.onclick = function() { 
					if (suctionCup.attr("fill") == "#00FF00") { suctionCup.animate({fill:"#FF0000"},200); }
					else if (suctionCup.attr("fill") == "#FF0000") { suctionCup.animate({fill:"#00FF00"},200); }
					else if (suctionCup.attr("fill") == "#909090") { suctionCup.animate({fill:"#00FF00"},200); }
				}
				suctionCups.push(suctionCup);
			}
			function drawSuctionCups() {
				for (var i=0; i<cmbS.length; i++) {
					var item = cmbS[i];
					offset = item.position=='left' ? leftWing : rightWing;
					drawSuctionCup(item.x + offset, item.y, item.dimX, item.dimY);
				}
				/*
				// linea 1
				drawSuctionCup(600+leftWing, 0);
				drawSuctionCup(830+leftWing, 0);
				drawSuctionCup(1050+leftWing, 0);
				drawSuctionCup(1270+leftWing, 0);
				drawSuctionCup(1670+rightWing, 0);
				drawSuctionCup(1890+rightWing, 0);
				drawSuctionCup(2110+rightWing, 0);
				drawSuctionCup(2340+rightWing, 0);
				// linea 2
				drawSuctionCup(600+leftWing, 130);
				drawSuctionCup(830+leftWing, 130);
				drawSuctionCup(1050+leftWing, 130);
				drawSuctionCup(1270+leftWing, 130);
				drawSuctionCup(1670+rightWing, 130);
				drawSuctionCup(1890+rightWing, 130);
				drawSuctionCup(2110+rightWing, 130);
				drawSuctionCup(2340+rightWing, 130);
				// linea 3
				drawSuctionCup(740+leftWing, 270);
				drawSuctionCup(2200+rightWing, 270);
				// linea 4
				drawSuctionCup(600+leftWing, 390);
				drawSuctionCup(830+leftWing, 390);
				drawSuctionCup(1050+leftWing, 390);
				drawSuctionCup(1270+leftWing, 390);
				drawSuctionCup(1670+rightWing, 390);
				drawSuctionCup(1890+rightWing, 390);
				drawSuctionCup(2110+rightWing, 390);
				drawSuctionCup(2340+rightWing, 390);
				// linea 5
				drawSuctionCup(600+leftWing, 590);
				drawSuctionCup(830+leftWing, 590);
				drawSuctionCup(1050+leftWing, 590);
				drawSuctionCup(1270+leftWing, 590);
				drawSuctionCup(1670+rightWing, 590);
				drawSuctionCup(1890+rightWing, 590);
				drawSuctionCup(2110+rightWing, 590);
				drawSuctionCup(2340+rightWing, 590);
				// linea 6
				drawSuctionCup(740+leftWing, 710);
				drawSuctionCup(2200+rightWing, 710);
				// linea 7
				drawSuctionCup(600+leftWing, 850);
				drawSuctionCup(830+leftWing, 850);
				drawSuctionCup(1050+leftWing, 850);
				drawSuctionCup(1270+leftWing, 850);
				drawSuctionCup(1670+rightWing, 850);
				drawSuctionCup(1890+rightWing, 850);
				drawSuctionCup(2110+rightWing, 850);
				drawSuctionCup(2340+rightWing, 850);
				// linea 8
				drawSuctionCup(600+leftWing, 980);
				drawSuctionCup(830+leftWing, 980);
				drawSuctionCup(1050+leftWing, 980);
				drawSuctionCup(1270+leftWing, 980);
				drawSuctionCup(1670+rightWing, 980);
				drawSuctionCup(1890+rightWing, 980);
				drawSuctionCup(2110+rightWing, 980);
				drawSuctionCup(2340+rightWing, 980);
				*/
			}
			function drawIcons() {
				var attr = {
						fill: "#333",
						stroke: "#666",
						"stroke-width": 1,
						"stroke-linejoin": "round"
				};
				for (var i=0; i<icons.length; i++) {
					paper.path(icons[i]).attr(attr);
				}
			}
			/* function checkIntersection() {
				for (var i=0; i<icons.length; i++) {
					for (var j=0; j<suctionCups.length; j++) {
						// var dotsOfIntersection = Raphael.pathIntersection(icons[i], suctionCups[j]);
						// if (dotsOfIntersection.length > 0) {
						// 	paper.path(suctionCups[j]).attr("fill", "#00F");
						// }
						var x = suctionCups[j].attr('cx');
						var y = suctionCups[j].attr('cy');
						if (Raphael.isPointInsidePath(icons[i], x, y)) {
							var radius = suctionCups[j].attr('r');
							if (Raphael.isPointInsidePath(icons[i], x + radius, y)) {
								if (Raphael.isPointInsidePath(icons[i], x - radius, y)) {
									if (Raphael.isPointInsidePath(icons[i], x, y + radius)) {
										if (Raphael.isPointInsidePath(icons[i], x, y - radius)) {
											suctionCups[j].animate({fill:'blue'},200);
										}
									}
								}
							}
						}
					}
				}
			} */
			function checkIntersection() {
				for (var j=0; j<suctionCups.length; j++) {
					var icon = iconUnderPoint(suctionCups[j].attr('cx'), suctionCups[j].attr('cy'), suctionCups[j].attr('rx'), suctionCups[j].attr('ry'));
					var myColor = "#000";
					if (icon['icon'] == "") {
						myColor = "#909090";
					} else {
						if (icon['isNotUnload'])
						{
							myColor = "#FFFF00";
						} 
						else if (icon['isPicked'])
						{
							myColor = "#FF8000";
						}
						else if (icon['isInsideExternal'] && !icon['isInsideInternal'])
						{
							myColor = "#00FF00";
						}
						else
						{
							myColor = "#FF0000";				
						}
					}
					suctionCups[j].animate({fill:myColor},200);
				}
			}
			function nextStep() {
				for (var j=0; j<suctionCups.length; j++) {
					if (suctionCups[j].attr('fill') == "#00FF00") {
						var icon = iconUnderPoint(suctionCups[j].attr('cx'), suctionCups[j].attr('cy'), suctionCups[j].attr('rx'), suctionCups[j].attr('ry'));
						icon['isPicked'] = true;
						var iconId = icon['icon'];
						for (var i=0; i<cmbI.length; i++) {
							if (cmbI[i]["id"] == iconId) {
								cmbI[i][0].animate({fill:"#FFFFFF"},200);
							}
						}
					}
				}
			}
			function refreshCircles() {
				for (var j=0; j<suctionCups.length; j++) {
					suctionCups[j].remove();
				}
				suctionCups.length = 0;
				drawSuctionCups();
			}
			function refresh() {
				paper.clear();
				// drawIcons();
				drawSheet();
				drawSuctionCups();
				checkIntersection();
			}
			function readyFn( jQuery ) {
				$('body').css('background-color', '#E6E6E6');
				//$.plot($("#placeholder"), [ [[0, 0], [5000, 3500]] ], { yaxis: { max: 4000 } });
				refresh();
			}
			$(document).ready(readyFn);
		</script>
		-->
{% endblock %}
