{% extends "site_base.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% endblock %}

{% block markup %}
		<div class="container">
			<header>
				<img src="{{ STATIC_URL }}img/logo.png"/>
				<div class="title">Benvenuti su SPR Sorting (by Stima Engineering)</div>
				<div style="float: left; margin-top: -48px;"><button onclick="location.href='/upload'">CARICA</button></div>
				<div style="float: right; margin-top: -48px;"><button onclick="app.saveMissions('{{drawSheet}}');">SALVA</button></div>
				<hr style="clear:both; margin-bottom: 0;">
			</header>
			{% csrf_token %}
			<div class="content">
					{% block inner_markup %}
					{% endblock %}
			</div>
			<footer>
				© 2014 Stima Engineering Srl - TEL. +39 (0)374 94861 - CF & PI 00757840194 - Via per Ripalta Arpina, 1 - 26012 Castelleone (CR) - <a href="mailto:info@stimaengineering.it" target="_top">info@stimaengineering.it</a>
			</footer>
		</div> <!-- /container -->
{% endblock %}

{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/libs/raphael-min.js"></script>
{% endblock %}
