{% extends "site_base.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% endblock %}

{% block markup %}
		<div class="container">
			<header>
				<div style="display: inline-table; width: 35%; padding: 0; margin: 0,">
					<button style="width: 100px;" onclick="location.href='/upload'">CARICA</button>
					&nbsp;&nbsp;&nbsp;
					<button style="width: 100px;" onclick="app.saveMissions('{{drawSheet}}');">SALVA</button>
					<h5>{{imaFileName}} {% if imaFileName %}<button style="width: 54px;" onclick="app.resetMissions();">Reset</button>{% endif %}</h5>
				</div>
				<div style="display: inline-table; width: 28%;"><img src="{{ STATIC_URL }}img/logo.png"/></div>
				<div style="display: inline-table; width: 35%; margin: 0;" class="title">SPR Sorting</div>
				<hr style="margin-bottom: 0;">
			</header>
			{% csrf_token %}
			<div class="content">
					{% block inner_markup %}
					{% endblock %}
			</div>
			<footer>
				&copy; 2014 SPR S.r.l. - TEL. +39 0374 9486 - CF & PI 01334470190 - Via per Ripalta Arpina, 1 - 26012 Castelleone (CR) - <a href="mailto:info@stimaengineering.it" target="_top">info@stimaengineering.it</a>
			</footer>
		</div> <!-- /container -->
{% endblock %}

{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/libs/raphael-min.js"></script>
{% endblock %}
