@CHARSET "UTF-8";

body {
	background-color: #E6E6E6;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #E6E6E6;
	color: #333;
	text-align: center;
	font-size: 14px;
	line-height: 42px;
	position: fixed;
	top: 0px;
	/* height: 160px; */
	z-index: 999;
	width: 978px;
}

footer {
	background-color: black;
	color: #DDD;
	text-align: center;
	font-size: 10px;
	line-height: 24px;
	width: 978px;
}

.content {
	margin-top: 150px;
	margin-bottom: 20px;
	width: 978px;
	text-align: center;
}

.title {
	margin-top: 2%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.top-buffer { margin-top:20px; }

#id_ima_file {
	margin-left: auto;
	margin-right: auto;
	/* position: absolute;
	top: -100px; */
}